/* Custom properties for consistency */
:root {
  --primary: #0d47a1;
  --accent: #ffb300;
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
  scroll-behavior: smooth;
  background-color: #cacaca;
}

.text-justify {
  text-align: justify;
}

/* Make buttons look a bit more modern */
.btn {
  border-radius: 50px !important;
  text-transform: capitalize !important;
  font-weight: 700 !important;
}

/* Helper Class */
.font-bold {
  font-weight: 700;
}

.carousel-title {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 0 10px 0;
}

.carousel-detailed-text {
  font-size: 1.2rem;
  color: #bebcbc;
  max-width: 600px;
  margin: 0 auto;
  text-align: justify;
}

* {
  box-sizing: border-box; /* Prevents padding from breaking widths */
}

.brand-logo {
  display: flex !important;
  align-items: center;
  white-space: nowrap; /* CRITICAL: Prevents "Care" from wrapping/hiding */
  font-weight: 700;
  text-decoration: none;
  height: 100%; /* Centers vertically in the nav */
}

.brand-logo {
  left: 60px !important;
  transform: none !important;
  font-size: 1.2rem; /* Compact for small screens */
}

.brand-logo .amber-text {
  margin-right: 5px; /* Tiny gap after "SM" */
}

#home .row {
  margin-bottom: 5px;
}

.quick-info-border {
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

/* Floating Telegram Button */
.my-floating-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 996;
}
/* Go To Top Button */
.go-top-btn {
  position: fixed;
  bottom: 95px; /* above telegram button */
  right: 25px;
  z-index: 996;

  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;

  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}
/* Visible State */
.go-top-btn.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

@media screen and (max-width: 600px) {
  .hero-title-hint {
    margin-top: 20px;
    font-size: 17px;
    text-align: center;
  }
  .hero-title {
    margin: 0px;
    font-size: 2.8rem;
    text-align: center;
  }
  .hero-title-description {
    text-align: justify;
  }
  .quick-info-border {
    border: none;
  }
  .doc-title {
    font-size: 2.25rem;
    text-align: center;
    padding: 0;
    margin: 0px;
  }
}
